{#
/**
 * @file
 * Bootstrap Barrio's override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}

        <div class="noahs-menu">
            <div class="menu__header">
                <span class="menu__arrow"><i class="fa-solid fa-chevron-left"></i></span>
                <span class="menu__title"></span>
            </div>
            {% if menu_level == 0 %}
                <ul{{ attributes.addClass('menu__inner')|without('id') }}>
                {% else %}
                    <ul class="noahs-submenu">
                    {% endif %}
                    {% for item in items %}
                        {%
                        set classes = [
                        'menu__item',
                        menu_level ? 'nav-dropdown-item' : 'menu__item',
                        item.is_expanded ? 'menu-item--expanded',
                        item.is_collapsed ? 'menu-item--collapsed',
                        item.in_active_trail ? 'active',
                        item.below ? 'menu__dropdown',
                        ]
                        %}

                        <li{{ item.attributes.addClass(classes) }}>
                            {%
                            set link_classes = [
                                'menu__link',
                                item.in_active_trail ? 'active',
                                item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
                                'nav-link-' ~ item.url.toString() | clean_class,
                            ]
                            %}

                            {% if item.below %}

                                <a href="{{item.url}}" class="{{ link_classes|join(' ')}}">
                                    {{item.title}}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                                {{ menus.submenu_links(item.below, attributes, menu_level + 1) }}
                            {% else %}
                                <a href="{{item.url}}" class="{{ link_classes|join(' ')}}">
                                    <span class="menu__label">
                                        {{item.title}}
                                    </span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endmacro %}

    {% macro submenu_links(items, attributes, menu_level) %}
        {% import _self as menus %}
        {% if items %}
            <div class="submenu megamenu__text">
                <div class="submenu__inner">
                    <ul class="submenu__list">
                        {% for item in items %}
                                                {%
                                set classes = [
                                'menu__item',
                                menu_level ? 'nav-dropdown-item' : 'menu__item',
                                item.is_expanded ? 'menu-item--expanded',
                                item.is_collapsed ? 'menu-item--collapsed',
                                item.in_active_trail ? 'active',
                                item.below ? 'menu__dropdown',
                                ]
                                %}
                            <li{{ item.attributes.addClass(classes) }}>
                            
                                    {%
                                set link_classes = [
                                item.in_active_trail ? 'active',
                                'menu__link',
                                item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
                                'nav-link-' ~ item.url.toString() | clean_class,

                                ]
                                %}
                                <a href="{{item.url}}" {{item.attributes.addClass(link_classes)}}>
                                    {{item.title}}
                                </a>
                            </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endmacro %}