.wrapper-without-noahs {
  padding: 150px 25px 100px;
}
#block-noahs-theme-content {
  .search-form {
    details#edit-advanced {
      margin-top: 15px;
      #edit-keywords-fieldset,
      #edit-types-fieldset,
      #edit-lang-fieldset {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #edit-keywords-fieldset,
      #edit-types-fieldset,
      #edit-lang-fieldset {
        .fieldset-wrapper {
          .form-item {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.wrapper-without-noahs {
  padding: 150px 25px 100px;
  article {
    padding-bottom: 10px;
    ul.links.inline {
      display: flex;
      list-style: none;
      padding-left: 0;
      li {
        margin-right: 20px;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  @media (max-width: 767px) {
    display: block;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li,
    a {
      color: #0000ee;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
