.noahs-theme--header {
  nav {
  }
  ul:not(.contextual-links) {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    a {
      display: block;
      padding: 10px 25px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 1.5px;
      color: #4a4a4a;
    }
  }
}

#block-noahs-theme-main-menu ul li ul {
  display: none;
}

#block-noahs-theme-main-menu li:hover ul {
  display: flex;
  position: absolute;
  background-color: #eee;
  & li {
    border: 1px solid #fff;
  }
}
